{% extends 'layouts/base.html' %}
{% load string_to_json static %}

{% block content %}

{% include "includes/navigation-light.html" %}

<section class="py-sm-7 py-5 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto">
        <h4 class="mb-4">
          <a href="#">
            Stripe Products list
          </a>
        </h4>
        <div class="d-block mb-3">
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-info text-nowrap mb-0">Get products from Stripe</button>
          </form>
        </div>
        {% if productdict %}
        {% for product in productdict %}
        <div class="mb-3">
          <div class="container border-bottom">
            <div class="row justify-space-between py-2">
              <div data-bs-toggle="collapse" href="#stripe{{forloop.counter}}" role="button" aria-expanded="false"
                aria-controls="stripe{{forloop.counter}}" class="col-lg-3 me-auto w-75">
                <p class="lead text-dark pt-1 mb-0">{{product|product_name}}</p>
              </div>
              <div class="col-lg-3">
                <div class="nav-wrapper position-relative end-0">
                  <ul class="nav nav-pills nav-fill flex-row p-1" role="tablist">
                    <li class="nav-item">
                      <a data-bs-toggle="collapse" href="#stripe{{forloop.counter}}" role="button" aria-expanded="false"
                        aria-controls="stripe{{forloop.counter}}" href="#" class="nav-link mb-0 px-0 py-1 active">
                        <i class="fas fa-plus text-sm me-2"></i> Details
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div id="stripe{{forloop.counter}}" class="tab-pane collapse" id="code-header-1">
            <form method="post" action="{% url 'create_product' %}">
              {% csrf_token %}
              <div class="position-relative p-4 pb-2">
                <textarea readonly name="product" class="form-control" style="height: 350px;">
                    {{product}}
                </textarea>
              </div>
              <div class="d-block mb-3 px-4">
                <button type="submit" class="btn btn-sm btn-outline-info text-nowrap mb-0">Create</button>
              </div>
            </form>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <div class="col-6 mx-auto">
        <h4 class="mb-4">
          <a href="#">
            Local Products list
          </a>
        </h4>
        {% if messages %}
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show text-white font-weight-bold mb-4" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        {% endif %}

        {% if local_products %}
        {% for local_product in local_products %}
        <div class="mb-3">
          <div class="container border-bottom">
            <div class="row justify-space-between py-2">
              <div data-bs-toggle="collapse" href="#local{{forloop.counter}}" role="button" aria-expanded="false"
                aria-controls="local{{forloop.counter}}" class="col-lg-3 me-auto w-75">
                <p class="lead text-dark pt-1 mb-0">
                  <a class="text-primary" href="{% url 'product_details' slug=local_product|product_slug %}">
                    {{local_product|product_name}} 
                  </a>
                </p>
              </div>
              <div class="col-lg-3">
                <div class="nav-wrapper position-relative end-0">
                  <ul class="nav nav-pills nav-fill flex-row p-1" role="tablist">

                    <li class="nav-item">
                      <a data-bs-toggle="collapse" href="#local{{forloop.counter}}" role="button" aria-expanded="false"
                        aria-controls="local{{forloop.counter}}" class="nav-link mb-0 px-0 py-1 active ms-2">
                        <i class="fas fa-edit text-sm mx-1"></i>
                      </a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link mb-0 px-0 py-1"
                         target="_blank"
                        href="{% url 'product_details' slug=local_product|product_slug %}">
                          <i class="fas fa-eye text-seconday ms-2"></i>
                      </a>
                    </li>
                    
                    <li class="nav-item">
                      <a role="button" data-bs-toggle="modal" data-bs-target="#deleteProduct{{forloop.counter}}" class="nav-link mb-0 px-0 py-1"
                        href="#">
                          <i class="fas fa-trash text-danger ms-2"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
          
          <!-- delete confirmation  -->
          <div class="modal fade" id="deleteProduct{{forloop.counter}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteProductLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Delete Product</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Do you want to remove this product?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <form method="post" action="{% url 'delete_product' slug=local_product|product_slug %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Yes</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- delete confirmation  -->


          <div id="local{{forloop.counter}}" class="tab-pane collapse" id="code-header-1">
            <form method="post" action="{% url 'update_product' slug=local_product|product_slug %}" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="position-relative p-4 pb-2">
                  <textarea name="product" id="myTextArea" class="form-control d-none" style="height: 320px;">
                      {{local_product}}
                  </textarea>
              </div>
              <div class="nav-wrapper position-relative end-0">
                <ul class="nav nav-pills nav-fill p-1 mb-3" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="#main-tabs{{forloop.counter}}" role="tab" aria-controls="main" aria-selected="true">
                      Main Image
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#card-tabs{{forloop.counter}}" role="tab" aria-controls="card" aria-selected="false">
                      Card
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#image1-tabs{{forloop.counter}}" role="tab" aria-controls="image1" aria-selected="false">
                      Image 1
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#image2-tabs{{forloop.counter}}" role="tab" aria-controls="image2" aria-selected="false">
                      Image 2
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#image3-tabs{{forloop.counter}}" role="tab" aria-controls="image3" aria-selected="false">
                      Image 3
                    </a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div id="main-tabs{{forloop.counter}}" class="tab-pane active">
                    <div class="d-flex align-items-center">
                      <div class="">
                        {% if local_product|product_main_image %}
                          {% if local_product|product_main_image|first in 'http'%}
                            <img width="200px" height="145px" src="{{local_product|product_main_image}}" />
                          {% else %}
                            <img width="200px" height="145px" src="data:image/png;base64,{{local_product|product_main_image}}" />
                          {% endif %}
                        {% else %}
                          <img width="200px" height="145px" src="https://user-images.githubusercontent.com/51070104/199048910-57f845f6-a6c2-405d-a117-12385288a5cc.jpg" />
                        {% endif %}
                      </div>
                      <div class="w-100 ms-3">
                        <div class="form-group">
                          <label for="main_image" class="form-label">Main Image</label>
                          <input class="form-control" type="file" name="main_image" id="">
                        </div>
                        <div class="form-group">
                          <label for="main_image" class="form-label">Main Image External Link</label>
                          <input 
                            class="form-control" 
                            type="url"
                            placeholder="External link"
                            {% if local_product|product_main_image|first in 'http'%}
                            value="{{local_product|product_main_image}}" 
                            {% endif %}
                            name="main_img_link"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="card-tabs{{forloop.counter}}" class="tab-pane"> 
                    <div class="d-flex align-items-center">
                      <div class="">
                        {% if local_product|product_card_image %}
                          {% if local_product|product_card_image|first in 'http'%}
                            <img width="200px" height="145px" src="{{local_product|product_card_image}}" />
                          {% else %}
                            <img width="200px" height="145px" src="data:image/png;base64,{{local_product|product_card_image}}" />
                          {% endif %}
                        {% else %}
                          <img width="200px" height="145px" src="https://user-images.githubusercontent.com/51070104/199048910-57f845f6-a6c2-405d-a117-12385288a5cc.jpg" />
                        {% endif %}
                      </div>
                      <div class="w-100 ms-3">
                        <div class="form-group">
                          <label for="card_image" class="form-label">Card Image</label>
                          <input class="form-control" type="file" name="card_image" id="">
                        </div>
                        <div class="form-group">
                          <label for="card_image" class="form-label">Card Image External Link</label>
                          <input 
                            class="form-control" 
                            type="url"
                            placeholder="External link"
                            {% if local_product|product_card_image|first in 'http'%}
                            value="{{local_product|product_card_image}}" 
                            {% endif %}
                            name="card_img_link"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="image1-tabs{{forloop.counter}}" class="tab-pane"> 
                    <div class="d-flex align-items-center">
                      <div class="">
                        {% if local_product|product_image1 %}
                          {% if local_product|product_image1|first in 'http'%}
                            <img width="200px" height="145px" src="{{local_product|product_image1}}" />
                          {% else %}
                            <img width="200px" height="145px" src="data:image/png;base64,{{local_product|product_image1}}" />
                          {% endif %}
                        {% else %}
                          <img width="200px" height="145px" src="https://user-images.githubusercontent.com/51070104/199048910-57f845f6-a6c2-405d-a117-12385288a5cc.jpg" />
                        {% endif %}
                      </div>
                      <div class="w-100 ms-3">
                        <div class="form-group">
                          <label for="image_1" class="form-label">Image 1</label>
                          <input class="form-control" type="file" name="image_1" id="">
                        </div>
                        <div class="form-group">
                          <label for="img_1" class="form-label">Image 1 External Link</label>
                          <input 
                            class="form-control" 
                            type="url"
                            placeholder="External link"
                            {% if local_product|product_image1|first in 'http'%}
                            value="{{local_product|product_image1}}" 
                            {% endif %}
                            name="img1_link"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="image2-tabs{{forloop.counter}}" class="tab-pane"> 
                    <div class="d-flex align-items-center">
                      <div class="">
                        {% if local_product|product_image2 %}
                          {% if local_product|product_image2|first in 'http'%}
                            <img width="200px" height="145px" src="{{local_product|product_image2}}" />
                          {% else %}
                            <img width="200px" height="145px" src="data:image/png;base64,{{local_product|product_image2}}" />
                          {% endif %}
                        {% else %}
                          <img width="200px" height="145px" src="https://user-images.githubusercontent.com/51070104/199048910-57f845f6-a6c2-405d-a117-12385288a5cc.jpg" />
                        {% endif %}
                      </div>
                      <div class="w-100 ms-3">
                        <div class="form-group">
                          <label for="image_2" class="form-label">Image 2</label>
                          <input class="form-control" type="file" name="image_2" id="">
                        </div>
                        <div class="form-group">
                          <label for="img_2" class="form-label">Image 2 External Link</label>
                          <input 
                            class="form-control" 
                            type="url"
                            placeholder="External link"
                            {% if local_product|product_image2|first in 'http'%}
                            value="{{local_product|product_image2}}" 
                            {% endif %}
                            name="img2_link"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="image3-tabs{{forloop.counter}}" class="tab-pane"> 
                    <div class="d-flex align-items-center">
                      <div class="">
                        {% if local_product|product_image3 %}
                          {% if local_product|product_image3|first in 'http'%}
                            <img width="200px" height="145px" src="{{local_product|product_image3}}" />
                          {% else %}
                            <img width="200px" height="145px" src="data:image/png;base64,{{local_product|product_image3}}" />
                          {% endif %}
                        {% else %}
                          <img width="200px" height="145px" src="https://user-images.githubusercontent.com/51070104/199048910-57f845f6-a6c2-405d-a117-12385288a5cc.jpg" />
                        {% endif %}
                      </div>
                      <div class="w-100 ms-3">
                        <div class="form-group">
                          <label for="image_3" class="form-label">Image 3</label>
                          <input class="form-control" type="file" name="image_3" id="">
                        </div>
                        <div class="form-group">
                          <label for="img_3" class="form-label">Image 3 External Link</label>
                          <input 
                            class="form-control" 
                            type="url"
                            placeholder="External link"
                            {% if local_product|product_image3|first in 'http'%}
                            value="{{local_product|product_image3}}" 
                            {% endif %}
                            name="img3_link"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="price" class="form-label">Price</label>
                <input class="form-control" value="{{local_product|product_price}}" type="number" name="price" id="">
              </div>
              <div class="form-group">
                <label for="full_description" class="form-label">Full Description</label>
                <!-- <textarea name="full_description" class="form-control" id="" cols="30" rows="5">
                  {{local_product|product_description}}
                </textarea> -->
                <input class="form-control" value="{{local_product|product_description}}" type="text" name="full_description" id="">
              </div>
              <div class="form-group">
                <label for="info" class="form-label">Info</label>
                <input class="form-control" value="{{local_product|product_info}}" type="text" name="info" id="">
              </div>
              <div class="d-flex">
                <div class="d-block mb-3">
                  <button type="submit" class="btn btn-sm btn-outline-info text-nowrap mb-0">Save</button>
                </div>
                <div class="form-check mb-3 ms-3 mt-1">
                  <input class="form-check-input" type="checkbox" name="featured" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Featured
                  </label>
                </div> 
              </div>
            </form>
          </div>

        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock content %}

